<#@ template language="C#" #>
using System;
using System.Reflection;

[assembly: AssemblyCopyright("\"Audio Repeater Manager\" Copyleft 2025.")]
[assembly: AssemblyMetadataAttribute("RepositoryUrl", "https://github.com/portellam/VAC-Audio-Repeater-Manager")]