<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="JustMock" version="2023.3.1122.188" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="17.8.0" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.8.0" targetFramework="net48" />
  <package id="Moq" version="4.20.70" targetFramework="net48" />
  <package id="Moq.AutoMock" version="3.5.0" targetFramework="net48" />
  <package id="NonBlocking" version="2.1.1" targetFramework="net48" />
  <package id="NUnit" version="4.0.1" targetFramework="net48" />
  <package id="NUnit.Analyzers" version="3.10.0" targetFramework="net48" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net48" />
  <package id="PresentationFramework" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>